.parallax-container {
  overflow: hidden;
  position: relative;
  height: 120vh;
}
.parallax-title {
  position: absolute;
  top: 41%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 150px;
  z-index: 3;
  text-align: center;
}
.parallax-image-container {
  width: 100vw;
  position: relative;
}
.parallax-image-dark-layer {
  width: 100vw;
  height: 120vh;
  background-color: black;
  position: fixed;
  opacity: 50%;
  z-index: -1;
}
.parallax-image {
  width: 100vw;
  object-fit: cover;
  position: fixed;
  top: -700px;
  z-index: -2;
}

@media screen and (max-width: 1200px) {
  .parallax-image {
    top: -200px;
  }
}

@media screen and (max-width: 820px) {
  .parallax-title {
    font-size: clamp(20px, 18vw, 150px);
  }
  .parallax-image {
    top: 0px;
    height: 120vh;
  }
}
