.parallax-container{
    overflow: hidden;
    position: relative;
    height: 100vh;
}
.parallax-title{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 150px;
    z-index: 3;
}
.parallax-image-container{
    width: 100vw;
    position: relative;
}
.parallax-image-dark-layer {
    width: 100vw;
    height: 100vh;
    background-color: black;
    position: absolute;
    opacity: 50%;
    z-index: 2;
}
.parallax-image{
    /* top: -850px; */
    max-width: 100%;
}