.card-food-container {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 8px;
  overflow: hidden;
  max-width: 290px;
}
.card-content-container {
  padding: 20px;
}
.card-food-image-item {
  width: 100%;
}
.card-content-title {
  font-weight: 600;
}
.card-content-rating-container {
  margin-top: 24px;
  display: flex;
  justify-content: end;
}
.fa-star {
  color: yellow;
}

.popular-recipes-card-container,
.delicious-foods-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 20px;
}